{% extends "base.html"%}
{% load static %}

{% block content %} 

<section class="error-404" style="background-image:url(https://drive.google.com/file/d/1PctxaEEIF7EwIwR0yIgZcNYw3I6ieTMW/view?usp=drive_link)">
  <div class="container">
    <div class="error">
            <h2>4<span>0</span>4</h2>
            <h3>ou sheeet! The page can’t be found.</h3>
            <p>The page you're looking for isn't available. Try with another page or use the go home button below</p>
            <form>
            <input type="text" name="email" placeholder="Search Keyword...">
            <button type="submit" class="error-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <a href="index.html" class="btn">Back To Home</a>
        </div>
  </div>
</section>

{% endblock %}