{% extends "base.html"%}
{% load static %}

{% block content %}

<section class="hero-section-two" style="background-image: url({% static 'assets/img/hero-two-background.png '%});">
    <div class="container"> 
        <div class="hero-two-slider">
          <div class="row">
            <div class="col-lg-12">
              <div class="row align-items-center">
                  <div class="col-lg-6">

                      <div class="hero-text">
                          <div class="text"> <span>Best Quality of Solar Resources</span></div>
                          <h1>We Find Highest & Best Use For All Resources</h1>
                          <div class="link-box"> <a href="#" class="btn">Discover More</a></div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="hero-img">
                          <img src="https://via.placeholder.com/974x764" alt="img">
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row align-items-center">
                  <div class="col-lg-6">

                      <div class="hero-text">
                          <div class="text"> <span>Best Quality of Solar Resources</span></div>
                          <h1>We Find Highest & Best Use For All Resources</h1>
                          <div class="link-box"> <a href="#" class="btn">Discover More</a></div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="hero-img">
                          <img src="https://via.placeholder.com/974x764" alt="img">
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div> 
    </div>
</section>
<section class="gap">
  <div class="container">
    <div class="heading">
      <img src="{% static 'assets/img/heading-img.png '%}" alt="img">
      <span>Fostering the Growth of Solar Energy Market</span>
      <h2>Solar Materials For Manufacturers, Installers</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="solar-solution">
          <img src="https://via.placeholder.com/270x270" alt="img">
            <i class="flaticon-solar-panel">
            </i>
            <h4><a href="service-details.html">solar solution</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore eta aliqua. </p>
            <a href="service-details.html"><i class="flaticon-right-up"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="solar-solution">
          <img src="https://via.placeholder.com/270x270" alt="img">
            <i class="flaticon-water-energy">            </i>
            <h4><a href="service-details.html">Global Optimization</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore eta aliqua. </p>
            <a href="service-details.html"><i class="flaticon-right-up"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="solar-solution mb-md-0">
          <img src="https://via.placeholder.com/270x270" alt="img">
            <i class="flaticon-bolt">
            </i>
            <h4><a href="service-details.html">Renewable Energy</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore eta aliqua. </p>
            <a href="service-details.html"><i class="flaticon-right-up"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="solar-solution mb-0">
          <img src="https://via.placeholder.com/270x270" alt="img">
            <i class="flaticon-renewable-energy">
            </i>
            <h4><a href="service-details.html">Fossile Resources</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore eta aliqua. </p>
            <a href="service-details.html"><i class="flaticon-right-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-sustainable" style="background-image: url(https://via.placeholder.com/1920x803);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="img-sustainable">
          <img src="{% static 'assets/img/sustainable.png '%}" alt="img">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sustainable-text">
          <div class="heading two">
            <img src="{% static 'assets/img/heading-img-two.png '%}" alt="img">
            <span>Sustainable Energy Services</span>
            <h2>We are Building a Sustainable Future</h2>
          </div>
          <div class="progresbar">
            <div class="progressbar">
               <div class="circle" data-percent="40">
                   <div>95%</div>
              </div>
            </div>
            <div class="progressbar">
               <div class="circle two" data-percent="95">
                   <div>95%</div>
              </div>
            </div>
            <div class="progressbar">
             <div class="circle three" data-percent="99">
                <div>99%</div>
             </div>
            </div>
          </div>
          <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the world. Present in 18 countries across Asia, Australia, Europe.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gap">
  <div class="container">
    <div class="heading">
      <img src="{% static 'assets/img/heading-img.png '%}" alt="img">
      <span>Improving The Performance Of Solar Energy.</span>
      <h2>Latest Projects, Solutions And Energy Supplies</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <a href="#"><h4>Donald Romania</h4></a>
          <h6>Electric Engineer</h6>
          <div class="phone">
            <i class="flaticon-iphone"></i>
            <a href="callto:+18880002222">+1 888 000 2222</a>
          </div>
          <img src="https://via.placeholder.com/316x328" alt="img">
          <svg width="399" height="389" viewBox="0 0 399 389" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.667 388.77L399 196.019H313.5V0L133 196.019H221.667V388.77ZM44.3335 347.848L133 246.4H90.2503V143.232L0 246.4H44.3335V347.848Z" fill="#F1F1F1"/>
          </svg>
          <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <a href="#"><h4>Donald Romania</h4></a>
          <h6>Electric Engineer</h6>
          <div class="phone">
            <i class="flaticon-iphone"></i>
            <a href="callto:+18880002222">+1 888 000 2222</a>
          </div>
          <img src="https://via.placeholder.com/316x328" alt="img">
          <svg width="399" height="389" viewBox="0 0 399 389" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.667 388.77L399 196.019H313.5V0L133 196.019H221.667V388.77ZM44.3335 347.848L133 246.4H90.2503V143.232L0 246.4H44.3335V347.848Z" fill="#F1F1F1"/>
          </svg>
          <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team mb-0">
          <a href="#"><h4>Donald Romania</h4></a>
          <h6>Electric Engineer</h6>
          <div class="phone">
            <i class="flaticon-iphone"></i>
            <a href="callto:+18880002222">+1 888 000 2222</a>
          </div>
          <img src="https://via.placeholder.com/316x328" alt="img">
          <svg width="399" height="389" viewBox="0 0 399 389" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.667 388.77L399 196.019H313.5V0L133 196.019H221.667V388.77ZM44.3335 347.848L133 246.4H90.2503V143.232L0 246.4H44.3335V347.848Z" fill="#F1F1F1"/>
          </svg>
          <ul class="social-media">
              <li><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container gap no-top">
    <div class="swiper clients-slider">
      <div class="swiper-wrapper">
       <div class="partner swiper-slide">
         <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
       <div class="partner swiper-slide">
         <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
       <div class="partner swiper-slide">
       <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
       <div class="partner swiper-slide">
         <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
       <div class="partner swiper-slide">
         <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
       <div class="partner swiper-slide">
         <img alt="clients-logo" src="https://via.placeholder.com/110x130">
       </div>
      </div>
     </div>
</div>
<section class="gap no-bottom" style="background-color: #F8F8F8;">
  <div class="container">
    <div class="heading">
      <img src="{% static 'assets/img/heading-img.png '%}" alt="img">
      <span>Improving The Performance Of Solar Energy.</span>
      <h2>Latest Projects, Solutions And Energy Supplies</h2>
    </div>
    <div class="row mt-lg-4">
        <div class="col-lg-5">
            <div class="tab-two-style nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                01.
                <span>Transmission-connected solar farm</span>
              </button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                02.
                <span>Growth of Clean Energy Part of Solution</span>
              </button>
              <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                03.
                <span>Metal Roofing: The Best for Solar Panels</span>
              </button>
              <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                04.
                <span>Solar Panels and Small Wind Turbines</span>
              </button>
              <button class="nav-link" id="v-pills-settingstwo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settingstwo" type="button" role="tab" aria-controls="v-pills-settingstwo" aria-selected="false">
                05.
                <span>Individual Houses & Villas Solar System</span>
              </button>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="tab-content tab-two-style" id="v-pills-tabContent">
              <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="tab-img">
                  <figure>
                      <img src="https://via.placeholder.com/708x461" alt="img">
                  </figure>
                  <div class="battery-energy">
                    <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the w.</p>
                    <div class="d-flex align-items-center">
                      <div> 
                        <h6>49.5MW  /  99MWh</h6>
                        <span>battery energy storage</span>
                      </div>
                      <a href="project-details.html"><i class="flaticon-right-up"></i></a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="tab-img">
                  <figure>
                      <img src="https://via.placeholder.com/708x461" alt="img">
                  </figure>
                  <div class="battery-energy">
                    <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the w.</p>
                    <div class="d-flex align-items-center">
                      <div> 
                        <h6>49.5MW  /  99MWh</h6>
                        <span>battery energy storage</span>
                      </div>
                      <a href="project-details.html"><i class="flaticon-right-up"></i></a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="tab-img">
                  <figure>
                      <img src="https://via.placeholder.com/708x461" alt="img">
                  </figure>
                  <div class="battery-energy">
                    <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the w.</p>
                    <div class="d-flex align-items-center">
                      <div> 
                        <h6>49.5MW  /  99MWh</h6>
                        <span>battery energy storage</span>
                      </div>
                      <a href="project-details.html"><i class="flaticon-right-up"></i></a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="tab-img">
                  <figure>
                      <img src="https://via.placeholder.com/708x461" alt="img">
                  </figure>
                  <div class="battery-energy">
                    <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the w.</p>
                    <div class="d-flex align-items-center">
                      <div> 
                        <h6>49.5MW  /  99MWh</h6>
                        <span>battery energy storage</span>
                      </div>
                      <a href="project-details.html"><i class="flaticon-right-up"></i></a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-settingstwo" role="tabpanel" aria-labelledby="v-pills-settingstwo-tab">
                <div class="tab-img">
                  <figure>
                      <img src="https://via.placeholder.com/708x461" alt="img">
                  </figure>
                  <div class="battery-energy">
                    <p>leading renewable energy solutions provider that is revolutionising and redefining the way sustainable energy sources are harnessed across the w.</p>
                    <div class="d-flex align-items-center">
                      <div> 
                        <h6>49.5MW  /  99MWh</h6>
                        <span>battery energy storage</span>
                      </div>
                      <a href="project-details.html"><i class="flaticon-right-up"></i></a>
                  </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="heading two">
          <img src="{% static 'assets/img/heading-img-two.png '%}" alt="img">
          <span>Pricing Packages</span>
          <h2>Reasonable Pricing</h2>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="pricing-heading">
          <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          <div class="phone">
            <i class="flaticon-iphone">
            </i>
            <div>
              <span>Free Consulting:</span>
              <a href="callto:+18880002222">+1 888 000 2222</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="pricing-plan">
          <div class="pricing-plan-top">
            <h4>Solar Energy</h4>
            <h5>$90<span>/Year</span></h5>
            <p>Solar energy, radiation from the Sun capable of producing heat, causing chemical reactions</p>
          </div>
          <div class="pricing-plan-list">
            <i class="flaticon-solar-panel-1">
            </i>
            <ul>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}"> 400 Watts from Solar</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Efficiency Reliable solar inverters</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">1 year free of cost Services</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Save 450 units to 600 units</li>
            </ul>
            <a href="#" class="btn">Purchase Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pricing-plan active">
          <div class="pricing-plan-top">
            <h4>Solar Energy</h4>
            <h5>$120<span>/Year</span></h5>
            <p>Solar energy, radiation from the Sun capable of producing heat, causing chemical reactions</p>
          </div>
          <div class="pricing-plan-list">
            <i class="flaticon-wind-energy">
            </i>
            <ul>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}"> 400 Watts from Solar</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Efficiency Reliable solar inverters</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">1 year free of cost Services</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Save 450 units to 600 units</li>
            </ul>
            <a href="#" class="btn">Purchase Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pricing-plan mb-0">
          <div class="pricing-plan-top">
            <h4>Solar Energy</h4>
            <h5>$320<span>/Year</span></h5>
            <p>Solar energy, radiation from the Sun capable of producing heat, causing chemical reactions</p>
          </div>
          <div class="pricing-plan-list">
            <i class="flaticon-global">            </i>
            <ul>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}"> 400 Watts from Solar</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Efficiency Reliable solar inverters</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">1 year free of cost Services</li>
              <li><img alt="check-mark" src="{% static 'assets/img/check-mark.png '%}">Save 450 units to 600 units</li>
            </ul>
            <a href="#" class="btn">Purchase Now</a>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
<section class="gap no-top">
  <div class="container">
    <div class="heading">
      <img src="{% static 'assets/img/heading-img.png '%}" alt="img">
      <span>Recent Articles</span>
      <h2>News & Updates</h2>
    </div>
    <div class="blog-two">
      <div class="blog-two-text">
        <span>Dec 20, 2024</span>
        <h6><i class="fa-regular fa-message"></i>12 Comments</h6>
        <a href="blog-details.html">Solar Training Program Series: Why is Remote Energy Focused</a>
        <div class="d-flax"><img src="https://via.placeholder.com/80x80" alt="img"><a href="#">By Thomas Willimes</a></div>
      </div>
      <div class="blog-two-img">
        <svg width="328" height="397" viewBox="0 0 399 389" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.667 388.77L399 196.019H313.5V0L133 196.019H221.667V388.77ZM44.3335 347.848L133 246.4H90.2503V143.232L0 246.4H44.3335V347.848Z" fill="#FBC50B"></path>
          </svg>
        <figure>
          <img src="https://via.placeholder.com/680x380" alt="img">
        </figure>
      </div>
    </div>
    <div class="blog-two">
      <div class="blog-two-text">
        <span>Dec 20, 2024</span>
        <h6><i class="fa-regular fa-message"></i>12 Comments</h6>
        <a href="blog-details.html">Efficient Solar Photovoltaic Power, New Solar Energy Systems</a>
        <div class="d-flax"><img src="https://via.placeholder.com/80x80" alt="img"><a href="#">By Thomas Willimes</a></div>
      </div>
      <div class="blog-two-img">
        <svg width="328" height="397" viewBox="0 0 399 389" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.667 388.77L399 196.019H313.5V0L133 196.019H221.667V388.77ZM44.3335 347.848L133 246.4H90.2503V143.232L0 246.4H44.3335V347.848Z" fill="#FBC50B"></path>
          </svg>
        <figure>
          <img src="https://via.placeholder.com/680x380" alt="img">
        </figure>
      </div>
    </div>
    <div class="center">
      <a href="our-blog.html" class="btn">View All News</a>
    </div>
  </div>
</section>
<section class="section-questions gap" style="background-image: url({% static 'assets/img/projects-background.jpg '%}); ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="questions-img">
          <figure>
            <img src="https://via.placeholder.com/440x290" alt="img">
          </figure>
        </div>
        <div class="questions">
          <h3>Have Questions? We are Here to Help You!</h3>
          <p>Have Questions? We are Here to Help You!</p>
          <a href="#" class="btn bk">Start Consulting</a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="heading two">
          <img src="{% static 'assets/img/heading-img-two.png '%}" alt="img">
          <span>Frequently Asked Solar Questions</span>
          <h2>Common Questions!</h2>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <a href="#" class="heading">
                    <div class="icon"></div>
                    <div class="title">Stand out from your competitors</div>
                </a>

                <div class="content">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                    </p>
                </div>
            </div>
            <div class="accordion-item active">
                <a href="#" class="heading" >
                    <div class="icon"></div>
                    <div class="title">Save costs with partner discounts</div>
                </a>

                <div class="content" style="display: block;">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a href="#" class="heading">
                    <div class="icon"></div>
                    <div class="title">Monthly flea and worming treatments</div>
                </a>

                <div class="content">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a href="#" class="heading">
                    <div class="icon"></div>
                    <div class="title">Discounts on pet food and medication</div>
                </a>

                <div class="content">
                    <p>Dry cleaning is always gently takes about 3-4 hours on average. The cleaning time depends on the material type, garment dirtiness, and other things.er, but for your more durable.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a href="#" class="heading">
                    <div class="icon"></div>
                    <div class="title">Discounts on pet food and medication</div>
                </a>
                <div class="content">
                    <p>Dry cleaning is always gently takes about 3-4 hours on average. The cleaning time depends on the material type, garment dirtiness, and other things.er, but for your more durable.
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}